<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Emp name</th>
      <th>Emp age</th>
      <th>Emp sex</th>
      <th>Emp design</th>
      <th>Emp salary</th>
      <th>Emp phone</th>
      <th>Emp email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.emp_name %></td>
        <td><%= employee.emp_age %></td>
        <td><%= employee.emp_sex %></td>
        <td><%= employee.emp_design %></td>
        <td><%= employee.emp_salary %></td>
        <td><%= employee.emp_phone %></td>
        <td><%= employee.emp_email %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
